{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle voiture à vendre{% endblock %}

{% form_theme myForm _self %}

{% block body %}
    <div class="container">
        <h1>Création d'une nouvelle voiture à vendre</h1>
           {{ form_start(myForm) }}

            {{form_widget(myForm)}}
                <button type="submit" class="btn btn-primary">Ajouter la voiture</button>
          {{ form_end(myForm) }}
            

    </div>
{% endblock %}
{# form est la variable générique vu que c'est pour un form_theme #}
{% block form_row %}
    <div class="form-group">
        {{form_label(form)}}
        {{form_widget(form)}}
    </div>
{% endblock %}

