{% extends 'base.html.twig' %}

{% block title %}Annonce : {{ cars.modele }} {{ cars.marque }}{% endblock %}

{% block body %}
<div class="annonce-title" style="background-image: url({{cars.coverImage}});">
    <div class="container">
       <h1> {{cars.marque}}-{{cars.modele}}</h1>
       
    </div>
    
</div>
        <div class="container">
            <p><strong>Kilométrage :</strong> {{cars.kilometre}} km</p>
            <p><strong>Propriétaire :</strong> {{cars.proprietaire}}</p>
            <p><strong>Cylindrée :</strong> {{cars.cylindree}}cm³</p>
            <p><strong>Puissance :</strong> {{cars.puissance}}cv</p>
            <p><strong>Carburant :</strong> {{cars.carburant}}</p>
            <p><strong>1ère mise en circulation :</strong> {{cars.mecirculation}}</p>
            <p><strong>Transmission :</strong> {{cars.transmission}}</p>
            <p><strong>Description :</strong> {{cars.description}}</p>
            <h4>Option : </h4>
            <p>{{cars.description}}</p>
        </div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{cars.options | raw | nl2br }}
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in cars.images %}
                        <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>    
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in cars.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ image.url }}" class="d-block w-100" alt="image de {{ cars.description }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ cars.modele }} {{ cars.marque }}</h5>
                                <p>{{ image.caption }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                 <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                 </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <p class="h2"><strong>{{cars.prix}}</strong>€</p>
                 <a href="#" class="btn btn-primary">Acheter</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
